@inherits Shared.DoodleBaseComponent

<div data-toolbarmenu-colorpickercomponent="@DataAttributeName" class="doodle-toolbar-panels">   
    <div class="doodle-toolbar-panel">
        <div class="doodle-toolbar-panel-header">
            <span>Quick Colors</span>
        </div>

        <div class="doodle-toolbar-panel-content">
            <div data-toolbarmenu-colorpickercomponent-menufavourite="@DataAttributeName" class="doodle-toolbar-panel-content-wrapper doodle-color-picker-favourites @FavouriteWrapperClass">
                @if (FavouriteColors?.Count() > 0)
                {
                    foreach (var color in FavouriteColors)
                    {
                        <div class="doodle-color-picker-color-outer @((SelectedColor == color) ? "active" : "") @FavouriteOuterClass" 
                                @onclick="@(() => SelectedColor = color)">
                            <div class="doodle-color-picker-color-inner @FavouriteInnerClass" style="background-color: @color;"></div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    @if (ShowCustomColor)
    {
        <div class="doodle-toolbar-panel">
            <div class="doodle-toolbar-panel-header">
                <span>Custom Color</span>
            </div>

            <div class="doodle-toolbar-panel-content">
                <div data-toolbarmenu-colorpickercomponent-menucustomcolor="@DataAttributeName" class="doodle-toolbar-panel-content-wrapper doodle-color-picker-custom @CustomWrapperClass">
                    <button class="btn-round" title="Pick Color"
                            @onclick="@(() => OpenColorPicker())"> 
                        <span class="material-icons" style="color: @SelectedColor">format_color_fill</span>
                    </button>
                    <input @ref="ColorPicker" class="@ColorInputClass"  type="color" @bind-value="@SelectedColor" />
                </div>
            </div>
        </div>
    }
    <div class="doodle-toolbar-panel">
        <div class="doodle-toolbar-panel-header">
            <span>Close</span>
        </div>

        <div class="doodle-toolbar-panel-content">
            <div data-toolbarmenu-colorpickercomponent-menuclose="@DataAttributeName" class="doodle-toolbar-panel-content-wrapper">
                <button class="btn-round" title="Close"
                        @onclick="@(() => OnCloseMenu.InvokeAsync())"> 
                    <span class="material-icons doodle-toolbar-close" >close</span>
                </button>
            </div>
        </div>
    </div>
</div>