@inherits Shared.DoodleBaseComponent

@if (Show) 
{
    <div data-toolbarbuttons-drawactionscomponent="@DataAttributeName" class="toolbar-buttons-container @Theme.ToolbarMenuButtonsContainerClass" @attributes="AdditionalAttributes">

        <div class="toolbar-buttons @Theme.ToolbarMenuButtonsClass">

            <button data-toolbarbuttons-drawactionscomponent-undobutton="@DataAttributeName"
                    hidden="@(!UndoButtonVisible)" disabled=@(!UndoButtonEnabled) 
                    class="toolbar-button @Theme.ToolbarMenuButtonClass btn-drawactionscomponent-undo" title="Undo"
                    @onclick="@(() => DoodleDrawInteraction.DoodleStateManager.UndoLastAction())"> 
                    <span class="material-icons">undo</span>
            </button>

            <button data-toolbarbuttons-drawactionscomponent-redobutton="@DataAttributeName"
                    hidden="@(!RedoButtonVisible)" disabled=@(!RedoButtonEnabled) 
                    class="toolbar-button @Theme.ToolbarMenuButtonClass btn-drawactionscomponent-redo" title="Redo"
                    @onclick="@(() => DoodleDrawInteraction.DoodleStateManager.RedoLastAction())">
                    <span class="material-icons">redo</span>
            </button>
            
            <button data-toolbarbuttons-drawactionscomponent-clearbutton="@DataAttributeName"
                    hidden="@(!ClearButtonVisible)" disabled=@(!ClearButtonEnabled) 
                    class="toolbar-button @Theme.ToolbarMenuButtonClass btn-drawactionscomponent-clear" title="Clear"
                    @onclick="@(() => DoodleDrawInteraction.DoodleStateManager.ClearDoodle(ClearHistoryOnClear))">
                    <span class="material-icons">clear</span>
            </button>

            <button data-toolbarbuttons-drawactionscomponent-savebutton="@DataAttributeName"
                    hidden="@(!SaveButtonVisible)" disabled=@(!SaveButtonEnabled) 
                    class="toolbar-button @Theme.ToolbarMenuButtonClass btn-drawactionscomponent-save" title="Save"> 
                    <span class="material-icons">save</span>
            </button>

            <button data-toolbarbuttons-drawactionscomponent-exportbutton="@DataAttributeName"
                    hidden="@(!ExportButtonVisible)" disabled=@(!ExportButtonEnabled) 
                    class="toolbar-button @Theme.ToolbarMenuButtonClass btn-drawactionscomponent-export" title="Export Image"
                    @onclick="@(() => DoodleDrawInteraction.ExportImage())">
                    <span class="material-icons">file_download</span>
            </button>
        </div>
    </div>
} 

