@inherits Shared.DoodleBaseComponent
 
<div data-toolbarmenu-sizepickercomponent="@DataAttributeName" class="doodle-toolbar-panels">
    <div class="doodle-toolbar-panel">
        <div class="doodle-toolbar-panel-header">
            <span>Quick Sizes</span>
        </div>
        <div class="doodle-toolbar-panel-content content-quick-sizes">
            <div data-toolbarmenu-sizepickercomponent-menufavourites="@DataAttributeName" class="doodle-toolbar-panel-content-wrapper doodle-size-picker-favourites">
                @if (FavouriteSizes?.Count() > 0)
                {
                    foreach (var size in FavouriteSizes) 
                    {
                        <div class="doodle-size-picker-outer @((SelectedSize == size) ? "active" : "") @FavouriteOuterClass" @onclick="@(() => SelectedSize = size)">
                            <div class="doodle-size-picker-inner @FavouriteInnerClass">
                                <div style="border-top-width: @(size)px;" class="doodle-size-picker-line"></div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    @if (ShowCustomNumber)
    {
        <div class="doodle-toolbar-panel">
            <div class="doodle-toolbar-panel-header">
                <span>Drawing Size</span>
            </div>
            <div class="doodle-toolbar-panel-content content-custom-sizes"> 
                <div data-toolbarmenu-sizepickercomponent-menudrawsize="@DataAttributeName" class="doodle-toolbar-panel-content-wrapper">
                    <button class="btn-round" title="Decrease"
                        @onclick="@(() => DoodleDrawInteraction.SetStrokeWidth(DoodleDrawInteraction.StrokeWidth - 1))"> 
                        <span class="material-icons">remove_circle_outline</span>
                    </button>

                    <label>@DoodleDrawInteraction.StrokeWidth </label>

                    <button class="btn-round" title="Increase"
                            @onclick="@(() => DoodleDrawInteraction.SetStrokeWidth(DoodleDrawInteraction.StrokeWidth + 1))"> 
                            <span class="material-icons">add_circle_outline</span>
                    </button>
                </div>
            </div>
        </div>
    }

    <div class="doodle-toolbar-panel">
        <div class="doodle-toolbar-panel-header">
            <span>Eraser Size</span>
        </div>
        <div class="doodle-toolbar-panel-content content-custom-sizes"> 
            <div data-toolbarmenu-sizepickercomponent-menuerasersize="@DataAttributeName" class="doodle-toolbar-panel-content-wrapper">
                <button class="btn-round" title="Decrease"
                    @onclick="@(() => DoodleDrawInteraction.SetEraserWidth(DoodleDrawInteraction.EraserWidth - 1))"> 
                    <span class="material-icons">remove_circle_outline</span>
                </button>

                <label>@DoodleDrawInteraction.EraserWidth </label>

                <button class="btn-round" title="Increase"
                        @onclick="@(() => DoodleDrawInteraction.SetEraserWidth(DoodleDrawInteraction.EraserWidth + 1))"> 
                        <span class="material-icons">add_circle_outline</span>
                </button>
            </div>
        </div>
    </div>

    <div class="doodle-toolbar-panel">
        <div class="doodle-toolbar-panel-header">
            <span>Close</span>
        </div>

        <div class="doodle-toolbar-panel-content">
            <div data-toolbarmenu-sizepickercomponent-menuclose="@DataAttributeName" class="doodle-toolbar-panel-content-wrapper">
                <button class="btn-round" title="Close"
                        @onclick="@(() => OnCloseMenu.InvokeAsync())"> 
                    <span class="material-icons" style="color: red;">close</span>
                </button>
            </div>
        </div>
    </div>
</div>