@inherits Shared.DoodleBaseComponent

@if (Show)
{
    <div data-toolbarbuttons-sizepickercomponent="@DataAttributeName" class="toolbar-buttons-container  @Theme.ToolbarMenuButtonsContainerClass" @attributes="AdditionalAttributes">
        <div class="toolbar-buttons @Theme.ToolbarMenuButtonsClass">
            <button data-toolbarbuttons-sizepickercomponent-picksizebutton="@DataAttributeName" 
                    class="toolbar-button @Theme.ToolbarMenuButtonClass btn-sizepickercomponent-picksize" title="Pick Stroke Width"
                    @onclick="@(() => DoodleDrawInteraction.ToggleToolbarContent(ToolbarContent.SizePicker))"> 
                <span class="material-icons">line_weight</span>
            </button>
        </div>
    </div>
}
