@inherits Shared.DoodleBaseComponent

@if (Show)
{
    <div data-toolbarbuttons-colorpickercomponent="@DataAttributeName" class="toolbar-buttons-container @Theme.ToolbarMenuButtonsContainerClass" @attributes="AdditionalAttributes"> 
        <div class="toolbar-buttons @Theme.ToolbarMenuButtonsClass">
            <button data-toolbarbuttons-colorpickercomponent-pickcolorbutton="@DataAttributeName"
                    class="toolbar-button @Theme.ToolbarMenuButtonClass btn-colorpickercomponent-pickcolor" title="Pick Color"
                    @onclick="@(() => DoodleDrawInteraction.ToggleToolbarContent(ToolbarContent.ColorPicker))"> 
                <span class="material-icons" style="color: @DoodleDrawInteraction.StrokeColor;">palette</span>
            </button>
        </div>
    </div>
}
