<div data-toolbar-header-backgroundpicker class="doodle-toolbar-header-wrapper">
     @* <button class="doodle-toolbar-button " 
             @onclick="@(() => IsOpen = !IsOpen)"> 
            
             <div title="Background" class="background-button">A</div>
    </button> *@

    <div class="btn-text">
        <span class="btn-text-label">Background</span>
        <span class="material-icons">
            expand_less
        </span>
    </div>

</div>
<div hidden="@(!IsOpen)" data-toolbar-content-backgroundpicker class="background-preview-wrapper">

    @foreach (var backgroundSource in BackgroundSources)
    {
        bool isSelected = SelectedBackgrounds.Contains(backgroundSource);

        if (backgroundSource.BackgroundSourceType == BackgroundSourceType.SVG)
        {
            <div @onclick="@(() => ToggleSelectedBackground(backgroundSource))" class="background-preview svg @(isSelected ? "selected" : "") @backgroundSource.BackgroundClass" >
                @((MarkupString)backgroundSource.DataSource)
            </div>
        }
        else if (backgroundSource.BackgroundSourceType == BackgroundSourceType.Url)
        {
            <div @onclick="@(() => ToggleSelectedBackground(backgroundSource))" class="background-preview img @(isSelected ? "selected" : "") @backgroundSource.BackgroundClass" style="background-image: url('@backgroundSource.DataSource');">
            </div>
        }
    }

</div>