@inherits Shared.DoodleBaseComponent

<div data-toolbar-header-colorpicker="@DataAttributeName" class="doodle-drawtype-wrapper">
    <div class="doodle-drawtype-buttons">
        <button class="doodle-drawtype-button" title="Draw Pen"
                @onclick="@(() => DoodleDrawInteraction.SetDrawMode(DrawMode.Canvas))"> 
                <span class="material-icons">draw</span>
        </button>

        <button class="doodle-drawtype-button" title="Draw Line"
                @onclick="@(() => DoodleDrawInteraction.SetDrawMode(DrawMode.Canvas))"> 
                <span class="material-icons">timeline</span>
        </button>

        <button class="doodle-drawtype-button" title="Draw Text"
                @onclick="@(() => DoodleDrawInteraction.SetDrawMode(DrawMode.Resizable))"> 
                <span class="material-icons">text_fields</span>
        </button>

        <button class="doodle-drawtype-button" title="Draw Image"
                @onclick="@(() => DoodleDrawInteraction.SetDrawMode(DrawMode.Resizable))"> 
                <span class="material-icons">circle</span>
        </button>
    </div>
</div>
