@inherits Shared.DoodleBaseComponent 

<div data-toolbarmenu-backgroundpickercomponent="@DataAttributeName" class="toolbar-panels @Theme.ToolbarContentPanelsClass" @attributes="AdditionalAttributes">
    <div class="toolbar-panel @Theme.ToolbarContentPanelClass">
        <div class="toolbar-panel-header @Theme.ToolbarContentPanelHeaderClass">
            <span class="toolbar-panel-header-text @Theme.ToolbarContentPanelHeaderTextClass">Backgrounds</span>
        </div>

        <div class="toolbar-panel-content @Theme.ToolbarContentPanelContentClass">
            <div data-toolbarmenu-backgroundpickercomponent-menubackgrounds="@DataAttributeName" class="background-picker-layout">
                @foreach (var backgroundSource in BackgroundSources)
                {
                    bool isSelected = DoodleDrawInteraction.SelectedBackgrounds.Contains(backgroundSource);
                    
                    <BackgroundSourceComponent 
                        IsPreview="true"
                        BackgroundSource="@backgroundSource"
                        IsSelected="@isSelected"
                        OnClick="@((backgroundSource) => ToggleSelectedBackground(backgroundSource))">
                    </BackgroundSourceComponent>
                }
            </div>
        </div>
    </div>
    <div class="toolbar-panel @Theme.ToolbarContentPanelClass">
        <div class="toolbar-panel-header @Theme.ToolbarContentPanelHeaderClass">
            <span class="toolbar-panel-header-text @Theme.ToolbarContentPanelHeaderTextClass">Close</span>
        </div>

        <div class="toolbar-panel-content @Theme.ToolbarContentPanelContentClass">
            <div data-toolbarmenu-backgroundpickercomponent-menuclose="@DataAttributeName" class="toolbar-panel-content-wrapper @Theme.ToolbarContentPanelContentWrapperClass">
                <button class="toolbar-button @Theme.ToolbarMenuButtonClass btn-backgroundpickercomponent-close" title="Close"
                        @onclick="@(() => OnCloseMenu.InvokeAsync())"> 
                    <span class="material-icons toolbar-close @Theme.ToolbarContentPanelContentCloseClass">close</span>
                </button>
            </div>
        </div>
    </div>
</div>

