@inherits Shared.DoodleBaseComponent

<div class="toolbar-wrapper">

    <div class="toolbar-header">
        <Doodle.Components.Toolbar.DrawActions.DrawActionsComponent></Doodle.Components.Toolbar.DrawActions.DrawActionsComponent>
        <div class="toolbar-splitter"></div>
        <Doodle.Components.Toolbar.CanvasGrid.CanvasGridComponent></Doodle.Components.Toolbar.CanvasGrid.CanvasGridComponent>
        <Doodle.Components.Toolbar.ColorPicker.ColorPickerComponent></Doodle.Components.Toolbar.ColorPicker.ColorPickerComponent>
        <Doodle.Components.Toolbar.SizePicker.SizePickerComponent></Doodle.Components.Toolbar.SizePicker.SizePickerComponent>
        <Doodle.Components.Toolbar.BackgroundPicker.BackgroundPickerComponent></Doodle.Components.Toolbar.BackgroundPicker.BackgroundPickerComponent>
        <div class="toolbar-splitter"></div>
        <Doodle.Components.Toolbar.DrawType.DrawTypeComponent></Doodle.Components.Toolbar.DrawType.DrawTypeComponent>
    </div>


    <div hidden="@(!IsMenuOpen)" class="toolbar-content-wrapper">
        <div class="toolbar-content">
            
            @if (ToolbarContent == ToolbarContent.ColorPicker)
            {
                <Doodle.Components.Color.ColorPickerComponent OnCloseMenu="@(() => CloseMenu())"></Doodle.Components.Color.ColorPickerComponent>
            }
            else if (ToolbarContent == ToolbarContent.BackgroundPicker)
            {
                <Doodle.Components.Background.BackgroundPickerComponent OnCloseMenu="@(() => CloseMenu())"></Doodle.Components.Background.BackgroundPickerComponent>
            }
            else if (ToolbarContent == ToolbarContent.SizePicker)
            {
                <Doodle.Components.Size.SizePickerComponent OnCloseMenu="@(() => CloseMenu())"></Doodle.Components.Size.SizePickerComponent>
            }
            else if (ToolbarContent == ToolbarContent.CanvasGridOptions)
            {
                <Doodle.Components.Canvas.CanvasGridOptionsComponent OnCloseMenu="@(() => CloseMenu())"></Doodle.Components.Canvas.CanvasGridOptionsComponent>
            }

        </div>
    </div>

</div>

