@inherits Shared.DoodleBaseComponent

<div data-toolbarmenu-resizabletextcomponent="@DataAttributeName" data-doodle-toolbar-text="@DataAttributeName" class="doodle-toolbar-panels">  
    <div class="doodle-toolbar-panel">
        <div class="doodle-toolbar-panel-header">
            <span>New Text</span>
        </div>

        <div class="doodle-toolbar-panel-content">
            <div data-toolbarmenu-resizabletextcomponent-menunew="@DataAttributeName" class="doodle-toolbar-panel-content-wrapper">
               <button class="btn-round" title="New Text"
                        @onclick="@(() => { AddResizableText().ConfigureAwait(false); OnCloseMenu.InvokeAsync(); })">  
                    <span class="material-icons">add</span>
                </button>
            </div>
        </div>
    </div>
   
    <div class="doodle-toolbar-panel">
        <div class="doodle-toolbar-panel-header">
            <span>Close</span>
        </div>

        <div class="doodle-toolbar-panel-content">
            <div data-toolbarmenu-resizabletextcomponent-menuclose="@DataAttributeName" class="doodle-toolbar-panel-content-wrapper">
                <button class="btn-round" title="Close"
                        @onclick="@(() => OnCloseMenu.InvokeAsync())"> 
                    <span class="material-icons doodle-toolbar-close">close</span>
                </button>
            </div>
        </div>
    </div>
</div>