@inherits Shared.DoodleBaseComponent

<div data-toolbarmenu-resizableimagecomponent="@DataAttributeName" class="toolbar-panels @Theme.ToolbarContentPanelsClass">  
    <div class="toolbar-panel @Theme.ToolbarContentPanelClass">
        <div class="toolbar-panel-header @Theme.ToolbarContentPanelHeaderClass">
            <span class="toolbar-panel-header-text @Theme.ToolbarContentPanelHeaderTextClass">Select Image</span>
        </div>

        <div class="toolbar-panel-content @Theme.ToolbarContentPanelContentClass">
            <div data-toolbarmenu-resizableimagecomponent-menusources="@DataAttributeName" class="toolbar-panel-content-wrapper @Theme.ToolbarContentPanelContentWrapperClass">
                @foreach (var imageSource in ImageSources)
                {
                    <div @onclick="@((e) => { AddResizableContentImage(imageSource).ConfigureAwait(false); OnCloseMenu.InvokeAsync(); })" 
                        class="doodle-resizable-image-container @imageSource.ImageClass" 
                        style="background-image: url('@imageSource.DataSource');"></div>
                }
            </div>
        </div>
    </div>
   
    <div class="toolbar-panel @Theme.ToolbarContentPanelClass">
        <div class="toolbar-panel-header @Theme.ToolbarContentPanelHeaderClass">
            <span class="toolbar-panel-header-text @Theme.ToolbarContentPanelHeaderTextClass">Close</span>
        </div>

        <div class="toolbar-panel-content @Theme.ToolbarContentPanelContentClass">
            <div data-toolbarmenu-resizableimagecomponent-menuclose="@DataAttributeName" class="toolbar-panel-content-wrapper @Theme.ToolbarContentPanelContentWrapperClass">
                <button class="toolbar-button @Theme.ToolbarMenuButtonClass btn-resizableimagecomponent-close" title="Close"
                        @onclick="@(() => OnCloseMenu.InvokeAsync())"> 
                    <span class="material-icons toolbar-close @Theme.ToolbarContentPanelContentCloseClass">close</span>
                </button>
            </div>
        </div>
    </div>
</div>