@inherits Shared.DoodleBaseComponent

<div @ref="@ResizeElement" data-doodle-resizable-element-wrapper class="resizable-element-wrapper @(ElementActive ? "active" : "") @Theme.ResizableElementWrapperClass" style="height: @(Height)px; width: @(Width)px; top: @(Top)px; left: @(Left)px;">
    <div data-doodle-resizable-content class="resizable-element-content @Theme.ResizableElementContentClass">
        @if (ChildContent != null)
        {
            @ChildContent(this)
        }
        else
        {
            if (ElementActive == false)
            {
                @InActiveContent(this);
            }
            else
            {
                @ActiveContent(this);
            }
        }
    </div>

    <div data-doodle-resizable-adorner-tl class="resize-adorner tl @Theme.ResizableElementSizeAdornerClass @(ElementActive && AllowResize ? "resize" : "") "></div>
    <div data-doodle-resizable-adorner-tr class="resize-adorner tr @Theme.ResizableElementSizeAdornerClass @(ElementActive && AllowResize ? "resize" : "") "></div>
    <div data-doodle-resizable-adorner-bl class="resize-adorner bl @Theme.ResizableElementSizeAdornerClass @(ElementActive && AllowResize ? "resize" : "") "></div>
    <div data-doodle-resizable-adorner-br class="resize-adorner br @Theme.ResizableElementSizeAdornerClass @(ElementActive && AllowResize ? "resize" : "") "></div>

    <div data-doodle-move-adorner class="move-adorner @Theme.ResizableElementMoveAdornerClass @(ElementActive && AllowMove ? "move" : "") "></div>
    <div data-doodle-move-adorner class="delete-adorner @Theme.ResizableElementMoveAdornerClass @(ElementActive ? "delete" : "") "
         @onclick="@(() => RemoveElement.InvokeAsync())"></div>

</div>