@inherits Shared.DoodleBaseComponent

<div data-toolbarmenu-resizabletextcomponent="@DataAttributeName" class="toolbar-panels @Theme.ToolbarContentPanelsClass">  
    <div class="toolbar-panel @Theme.ToolbarContentPanelClass">
        <div class="toolbar-panel-header @Theme.ToolbarContentPanelHeaderClass">
            <span class="toolbar-panel-header-text @Theme.ToolbarContentPanelHeaderTextClass">New Text</span>
        </div>

        <div class="toolbar-panel-content @Theme.ToolbarContentPanelContentClass">
            <div data-toolbarmenu-resizabletextcomponent-menunew="@DataAttributeName" class="toolbar-panel-content-wrapper @Theme.ToolbarContentPanelContentWrapperClass">
               <button class="toolbar-button @Theme.ToolbarMenuButtonClass btn-resizabletextcomponent-new" title="New Text"
                        @onclick="@(() => { AddResizableText().ConfigureAwait(false); OnCloseMenu.InvokeAsync(); })">  
                    <span class="material-icons">add</span>
                </button>
            </div>
        </div>
    </div>
   
    <div class="toolbar-panel @Theme.ToolbarContentPanelClass">
        <div class="toolbar-panel-header @Theme.ToolbarContentPanelHeaderClass">
            <span class="toolbar-panel-header-text @Theme.ToolbarContentPanelHeaderTextClass">Close</span>
        </div>

        <div class="toolbar-panel-content @Theme.ToolbarContentPanelContentClass">
            <div data-toolbarmenu-resizabletextcomponent-menuclose="@DataAttributeName" class="toolbar-panel-content-wrapper @Theme.ToolbarContentPanelContentWrapperClass">
                <button class="toolbar-button @Theme.ToolbarMenuButtonClass btn-resizabletextcomponent-close" title="Close"
                        @onclick="@(() => OnCloseMenu.InvokeAsync())"> 
                    <span class="material-icons toolbar-close @Theme.ToolbarContentPanelContentCloseClass">close</span>
                </button>
            </div>
        </div>
    </div>
</div>