@inherits Shared.DoodleBaseComponent

<ResizableElementComponent ElementActive="ElementActive" AutoHandleEvents="false" @bind-Height="@Model.Height" @bind-Width="@Model.Width" @bind-Top="@Model.Top" @bind-Left="@Model.Left"  MinHeight="@Model.MinHeight" MinWidth="@Model.MinWidth">
   <div class="resizable-image-element @Model.ImageClass @Theme.ResizableImageElementClass" style="background-image: url('@Model.ImageSource');">
   </div>
</ResizableElementComponent>