@inherits Shared.DoodleBaseComponent
<div data-doodle-resizable-container-wrapper class="resizable-container-wrapper @(Active ? "front" : "") @Theme.ResizableListWrapperClass" @attributes="AdditionalAttributes">
   @if (Content != null && Content.Count() > 0)
   {
       for (var iItem = 0; iItem < Content.Count(); iItem++)
       {
           var item = Content.ToList()[iItem];
           if (item.ResizableContentType == ResizableContentType.Text)
           {
               <ResizableTextComponent ContentUpdated="@(() => ContentUpdated())" @bind-DataSource="@item"></ResizableTextComponent>
           }
           else if (item.ResizableContentType == ResizableContentType.Image)
           {
               <ResizableImageComponent ContentUpdated="@(() => ContentUpdated())" @bind-DataSource="@item"></ResizableImageComponent>
           }
       }
   }
</div>