<div class="doodle-draw-wrapper">
    <div class="doodle-draw-header">
        <DoodleColorPicker 
            SelectedColor="@StrokeColor" 
            SelectedColorChanged="@((color) => this.StrokeColor = color)"
            Options="@Options"
            E2ETestingName="@E2ETestingName"></DoodleColorPicker> 

        <DoodleSizePicker 
           SelectedSize="@StrokeSize"
           SelectedSizeChanged="@((size) => this.StrokeSize = size)"
           E2ETestingName="@E2ETestingName"></DoodleSizePicker>    
    </div>
    <div class="doodle-draw-body">

        <div class="doodle-draw-left-panel">
            
        </div>

        <div @ref="RenderWrapper" class="doodle-draw-content" >
            <DoodleCanvas 
                E2ETestingName="@E2ETestingName" 
                StrokeColor="@StrokeColor" 
                Options="@Options"
                StrokeSize="@StrokeSize"></DoodleCanvas>
        </div>

        <div class="doodle-draw-right-panel"></div>
    </div>

</div>

<div style="height: 200px; width:200px; background-image: url('@imgSource');" ></div>


