@if (Visible)
{
    <div data-doodle-size-picker="@DataAttributeName" class="doodle-size-picker-wrapper @(Orientation == Abstractions.Common.Orientation.Vertical ? "vertical" : "") @WrapperClass">
        <div class="doodle-size-picker-favourites @FavouriteWrapperClass">
            @if (FavouriteSizes?.Count() > 0)
            {
                foreach (var size in FavouriteSizes) 
                {
                    <div class="doodle-size-picker-outer @((SelectedSize == size) ? "active" : "") @FavouriteOuterClass" @onclick="@(() => SelectedSize = size)">
                        <div class="doodle-size-picker-inner @FavouriteInnerClass">
                            <div style="border-top-width: @(size)px;" class="doodle-size-picker-line"></div>
                        </div>
                    </div>
                }
            }
        </div>
        @if (ShowCustomNumber)
        {
            <div class="doodle-size-picker-custom @CustomWrapperClass">
                <input class="doodle-size-picker-custom-input @NumberInputClass" type="number" @bind-value="@SelectedSize" />
            </div>
        }
    </div>
}

