<CascadingValue Value="DataAttributeName" Name="DataAttributeName">
    <CascadingValue Value="Options" Name="Options">
        <CascadingValue Value="DoodleDrawInteraction" Name="DoodleDrawInteraction">
            <div data-doodledrawcomponent-wrapper="@DataAttributeName" class="doodle-draw-wrapper" @attributes="AdditionalAttributes"> 
                <Doodle.Components.Toolbar.ToolbarComponent></Doodle.Components.Toolbar.ToolbarComponent>                
                <div data-doodledrawcomponent-body="@DataAttributeName" class="doodle-draw-body">
                    <div data-doodledrawcomponent-content="@DataAttributeName" @ref="RenderWrapper" 
                         class="doodle-draw-content" style="background-color: @BackgroundColor;" >
                        @if (DoodleDrawInteraction.DoodleStateManager.SelectedBackgrounds != null && DoodleDrawInteraction.DoodleStateManager.SelectedBackgrounds.Count() > 0)
                        {
                            foreach (var background in DoodleDrawInteraction.DoodleStateManager.SelectedBackgrounds)
                            {
                                <Doodle.Components.Background.BackgroundSourceComponent BackgroundSource="@background" IsPreview="false">
                                </Doodle.Components.Background.BackgroundSourceComponent>
                            }
                        }
                        <Doodle.Components.Resizable.ResizableListComponent
                            Active="@IsResizableContainerActive"></Doodle.Components.Resizable.ResizableListComponent>
                        <Doodle.Components.Canvas.CanvasComponent 
                            OnCommandPathsUpdated="@(() => StateHasChanged())"
                            @ref="DoodleCanvas"></Doodle.Components.Canvas.CanvasComponent>
                    </div>
                </div>
            </div>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>


