<div @onclick="@(() => { if (AutoHandleEvents) { ResizeActive = true; }})" @ref="@ResizeElement" data-doodle-resizable-wrapper class="doodle-resizable-wrapper @(ResizeActive ? "resizeActive" : "") " style="height: @(Height)px; width: @(Width)px; top: @(Top)px; left: @(Left)px;">
    <div data-doodle-resizable-content class="doodle-resizable-content">
        @if (ChildContent != null)
        {
            @ChildContent(this)
        }
        else
        {
            if (ResizeActive == false)
            {
                @InActiveContent(this);
            }
            else
            {
                @ActiveContent(this);
            }
        }
    </div>

    <div data-doodle-resizable-adorner-tl class="resize-adorner tl"></div>
    <div data-doodle-resizable-adorner-tr class="resize-adorner tr"></div>
    <div data-doodle-resizable-adorner-bl class="resize-adorner bl"></div>
    <div data-doodle-resizable-adorner-br class="resize-adorner br"></div>

</div>