@inherits Shared.DoodleBaseComponent

<div @ref="ResizeElement" data-doodle-resize-wrapper="@DataAttributeName" class="canvas-resize @Theme.CanvasResizeContainerClass" @attributes="AdditionalAttributes">
    <input type="hidden" @bind="@CanvasCommandHiddenValue" data-canvas-commands />
    @{
        string canvasCursorClass = "";
        if (DoodleDrawInteraction.DrawType == DrawType.Pen)
        {
            canvasCursorClass = "pen";
        }
        else if (DoodleDrawInteraction.DrawType == DrawType.Line)
        {
            canvasCursorClass = "line";
        }
        else if (DoodleDrawInteraction.DrawType == DrawType.Eraser)
        {
            canvasCursorClass = "eraser";
        }
    }
    <canvas data-doodle-canvas="@DataAttributeName" @ref="CanvasElement" class="canvas @canvasCursorClass @Theme.CanvasDrawClass"></canvas>
    <canvas data-doodle-canvas-drawpreview="@DataAttributeName" class="canvas canvas-preview @Theme.CanvasPreviewDrawClass"></canvas>
</div>

